{% extends 'chat/index.html' %}
{% load static %}
{% block title %}Login Page{% endblock title %}
{% block styles %}

{%endblock styles %}

{% block content %}

<div class="mx-auto py-5 col-md-8 col-lg-6 col-sm-12">

  <form id="login-form" method="post">
    {% csrf_token %}
    <fieldset>

      <legend>Login</legend>

      <div class="form-group ">
        <label for="username" class="form-label mt-4">Email address</label>
        <input type="text" class="form-control" name="username" id="id_username" aria-describedby="username"
          placeholder="Your login">
      </div>

      <div class="form-group">
        <label for="password" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" name="password" id="id_password" placeholder="Password">
        <small id="disclaimer" class="form-text text-muted">We'll never share your personal data with anyone
          else.</small>
      </div>

      <div class="form-group d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'register' %}">
          <button type="button" class="btn btn-outline-primary">
            Register
          </button>
        </a>
      </div>

    </fieldset>
  </form>

</div>

{% endblock %}